* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


h4{
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.nav-center {
    background-color: antiquewhite;
    display:block;
    padding: 15px;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    list-style: none;
    border: 21px;
    
}

ul{
    background-color: white;
    border-radius: 10px;
    
}

.container {
    background-color: #f1f5f8;
    margin: 250px 100px 250px 100px;
    text-align: center;
    border-radius: 45px;
    padding: 10px;
    
}

h2 {
    margin-top: 20px;
}

.btn {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: medium;
    font-weight: 500;
}

li {
    margin: 10px;
    
}
